html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;

}

.clearfix::after {
  display: table;
  content: ' ';
  clear: both;

}

body {
  background-color: #e9f0fd;
  font-family: 'Roboto Black', sans-serif, 'Open Sans Bold', sans-serif, 'Open Sans Light', sans-serif, 'Open Sans Semibold', sans-serif, 'Open Sans Regular', sans-serif;
}

/*NAVIGATION */
.container {
  width: 1110px;
  margin: 0 auto;

}

.main-header {
  display: block;
  padding-top: 40px;
  padding-bottom: 36px;

}

.site-name {
  float: left;
  height: auto;
  font-size: 30px;
  line-height: 32px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Roboto Light',sans-serif;
  color: #555252;

}

.site-name::first-letter {
  color: rgb(26, 188, 156);
}


.list-navigation {
  float: right;

}

.list-navigation li {
  float: left;
  margin-right: 36px;
  list-style-type: none;

}

.list-navigation li:last-child {
  margin-right: 0px;
}

.main-link {
  display: block;
}

.main-link {
  font-family: 'Open Sans Bold',sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  color: rgb(15, 1, 1);
  font-weight: 800;
}

.main-link:hover {
  color: rgb(26, 188, 156);
}

.main-link:focus {
  color: rgb(26, 188, 156);
}

/* main content SLIDER*/



.main-slider-container {
  margin: 0 auto;
  position: relative;
  display: block;
  min-height: 600px;




}


.main-slider-container img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 600px;

}
.main-slider-container::after{
  display: block;
  content: '';
  position: absolute;
  width: 100%;
  min-height: 600px;
  left: 0;
  top: 0;

  background-color: rgba(0, 0, 0, 0.52);
}

.button-class {
  position: absolute;
  width: 1100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  z-index: 4;

}

.slider-button {
  display: inline-block;
  height: 100px;
  width: 100px;
  font-size: 50px;
  border: none;
  color: white;
  
  background-repeat: no-repeat;
  background-position: center;

  


}

.slider-left {
  float: left;
  background-color: rgba(26, 188, 156, .62);
  background-image: url(../img/slider-l.png);
 


}

.slider-right {
  background-color: rgb(26, 188, 156);
  float: right;
  background-image: url(../img/slider-r.png);




}

.slider-button:hover {
  background-color: rgba(255, 255, 255, .1);

}




.slider-text {
  position: absolute;
  width: 920px;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  padding-left: 70px;
  padding-right: 76px;
  z-index: 2;
}

.slider-text h2 {
  display: block;
  font-size: 60px;
  line-height: 82px;

  font-family: 'Roboto Black', sans-serif;


}

.slider-text p {
  font-size: 24px;
  line-height: 52px;
  text-align: left;
  font-family: 'Roboto Light',sans-serif;
  ;
}




/* THIRD SECTION*/
.new-collection {

  display: block;
  text-align: center;
  padding-top: 96px;
  padding-bottom: 80px;


}

.new-collection-title {
  display: inline-block;
  font-size: 48px;
  font-family: 'Roboto Black', sans-serif;
  text-transform: uppercase;
  color: rgb(85, 82, 82);

}

.new-collection-title::after {
  display: block;
  content: '';
  width: 164px;
  height: 8px;
  background: rgb(26, 188, 156);
  margin: 0 auto;
  border: 1px solid rgb(26, 188, 156);
  margin-top: 30px;

}

/* NEXT SECTION CARD*/
.product-list li {
  float: left;
  width: 255px;
  margin-right: 30px;

}

.product-list li {

  list-style-type: none;

}

.product-link {
  list-style-type: none;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-family: 'Roboto Black', sans-serif;
}

.name-price {
  background-color: rgb(50, 50, 50);
  width: 255px;
}

.product-list {
  padding-bottom: 96px;
}

.product-list li:nth-child(4n) {
  margin-right: 0px;
}

.name {
  float: left;
  width: 200px;
  height: 40px;
  padding-left: 14px;
  padding-top: 10px;
}

.price {
  float: right;
  width: 55px;
  height: 40px;
  background-color: rgba(255, 255, 255,0.42);
  padding-left: 14px;
  padding-top: 10px;
  color: rgb(255, 255, 255);
}



.low-footer {

  display: block;
  text-align: center;
  font-size: 16px;
  padding-top: 36px;
  width: auto;
  height: 90px;
  color: rgb(255, 255, 255);
  background-color: rgb(50, 50, 50);
  font-family: 'Open Sans', sans-serif;
}

.last-one {
  color: rgb(66, 169, 150);
}

/*  HOVEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEER*/
.new-over {
  position: relative;

}

.overlay-2 {
  background-clip: padding-box;
  width: 100%;
  height: 100%;
  border: 10px solid rgba(255, 255, 255, 0.4);
  position: absolute;

  background-color: rgba(0, 0, 0, 0.52);
  top: 0;
  left: 0%;

  opacity: 0;
  visibility: hidden;




}

.list {
  display: block;
  margin: 0 auto;
  width: 170px;
  text-align: center;
  font-size: 0;

  padding-top: 80px;



}

.list .low-icons {
  display: inline-block;
  margin: 0 auto;
  width: 50px;
  height: 50px;
  margin-right: 10px;

}
.list li:nth-child(3){
  margin-right: 0px;
}

.low-icons:last-child {
  padding-top: 10px;
  width: 150px;
}

.button-low {
  width: 100%;
  height: 100%;
  display: block;
  border: 1px solid hsl(0, 0%, 100%);
  background-color: transparent;

  background-repeat: no-repeat;
  background-position: center;

}

.first-button {
  background-image: url(../img/first-item.png);


}

.second-button {
  background-image: url(../img/second-item.png);
}

.third-button {
  background-image: url(../img/third-item.png);
}


.fourth-button {




  display: block;
  padding-left: 40px;
  width: 170px;
  height: 50px;
  border: 1px solid white;

  background-color: rgb(50, 50, 50);

  margin: 0 auto;
  font-size: 14px;
  text-transform: uppercase;
  font-family: 'Open Sans Regular';
  color: rgb(255, 255, 255);
  background-clip: padding-box;

  background-repeat: no-repeat;
  background-position: 12px 10px;
  background-image: url(../img/fourth-item.png);

}







.main-card-section:hover .overlay-2 {
  visibility: visible;
  opacity: 1;

}

.main-card-section:hover .name-price,
.main-card-section:focus .name-price {
  background-color: rgb(26, 188, 156)
}








.low-icons :hover {

  background-color: #1abc9c;
  border: none;
}