
html {
    box-sizing: border-box;   
  }
  *,
  *::before,
  *::after{
      box-sizing: inherit;
      margin: 0;
      padding: 0;
  }
  a{
    display: inline-block;
    text-decoration: none;
  }
img{
      display: block;
      max-width: 100%;
      height: auto;
    
  }
.clearfix::after {
    display: table;
    content:  ' ';
    clear: both;

}
body{
  background-color: #e9f0fd;
  font-family:'Roboto Black',sans-serif,'Open Sans Bold',sans-serif,'Open Sans Light',sans-serif, 'Open Sans Semibold',sans-serif,'Open Sans Regular',sans-serif;
}
/*NAVIGATION */
.container{
  width: 1110px;
  margin:0 auto;

}

.main-header{
  display: block;
  padding-top: 40px;
  padding-bottom: 36px;
  
}
.site-name{
  float: left;
  height: auto;
  font-size: 30px;
  line-height: 32px;
   text-decoration: none;
  text-transform: uppercase;
  font-family: 'Roboto Light',sans-serif;
  
}
.site-name::first-letter{
  color:rgb(26, 188, 156) ;
}


.list-navigation{
  float :right ;

}
.list-navigation li{
  float :left ;
 margin-right: 36px;
 list-style-type:none;

}
.list-navigation li:last-child{
  margin-right: 0px;
}
.main-link{
  display: block;
}
.main-link{
  font-family: 'Open Sans Bold',sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  color:rgb(49,39, 39);
  font-weight:bold;
}
.main-link:hover{
   color:rgb(26, 188, 156); 
}
.main-link:focus{
  color:rgb(26, 188, 156); 
}

/* main content SLIDER*/

   

 .main-slider-container{
   margin: 0 auto;
   position: relative;
   display: block;   
   min-height: 600px;
   
   
   
   
 }
 .main-slider-container img{
  display: block;
  object-fit: cover;
  width: 100%;
  height: 600px;
  
  }

.button-class{
  position: absolute;
  width: 1100px;
  top :50%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin: 0 auto;
  
}
.slider-button{
      display: inline-block;
      height: 100px;
      width: 100px;
       font-size: 50px;     
      border: none;
      color: white;
      border-radius: 10px;
      background-color: rgba(255, 255, 255,.1);
      
     
    }
    .slider-left{
    float:left;
   
    
    }
    .slider-right{
      float: right;
      
      
 
   
    }
    .slider-button:hover{
      background-color: rgba(26, 188, 156,.62);

    }


    .slider-text{
      position: absolute;
      display: inline-block;
      left: 50%;
      top: 50%;
      width: 1110px;
      transform: translate(-50%,-50%);
      

      
     
      
    }
    .inner-text{
      position: absolute;
      width: 850px;
      height: auto;
      top:50%;
      left: 50%;
      transform: translate(-50%,-50%);
      color: rgb(255, 255, 255);
      text-transform: uppercase;
      font-family: 'Roboto Black,sans-serif';
    }
    .slider-text h2{
      display: block;
      font-size: 60px;
    
      font-family: 'Roboto Light',sans-serif;
   
  
    }
    .slider-text p{
      font-size: 24px;
      line-height: 52px;
      text-align: left;
      font-family: 'Roboto Light';
    }
   

.overlay {
  display: block;
  position: absolute;
  width: 100%;
min-height: 600px;
  left: 0;
  top: 0;
  
  background-color: rgba(0,0,0,0.52); 
  
 
}

/* THIRD SECTION*/
.new-collection{

    display: block;
    text-align: center;
    margin-top: 96px;
    margin-bottom: 80px;
    
    
  }
  .new-collection-title{
    display: inline-block;
    font-size: 48px;
    font-family: 'Roboto Black',sans-serif;
    text-transform: uppercase;
    color: rgb(85, 82, 82);
  
  }
  .new-collection-title::after{
    display: block;
    content: '';
    width: 164px;
    height: 8px;
    background:rgb(26, 188, 156) ;
    margin: 0 auto;
    border: 1px solid rgb(26, 188, 156);
    margin-top: 30px;
    
  }
  /* NEXT SECTION CARD*/
  .product-list li{
    float:left;
    width: 255px;
    margin-right: 30px;
    
    }
   
  .product-list li{
  
  list-style-type:none;
  
  }
  .product-link{
    display: block;
  list-style-type:none;
  text-transform: uppercase;
  color:rgb(255, 255, 255);
  font-size: 18px;
  font-family: 'Roboto Black',sans-serif;
  
  }
  .name-price img{
    height: 280px;
  }
  .name-price{
    
    width: 255px;
   
    }
    .product-list{
      padding-bottom: 96px;
    }
    .product-list li:nth-child(4n){
      margin-right: 0px;
      }
  .name{
    float:left;
    width: 200px;
    height: 40px;
    background:rgb(50, 50, 50);
    padding-left:14px ;
    padding-top:10px ;
    list-style-type:none;
  }
  .price{
    float:right ;
    width: 55px;
    height: 40px;
    background: rgb(140, 140, 140);
    padding-left:14px ;
    padding-top:10px ;
  }
  
  
 
      .name-price:focus .name {
        background-color:rgb(26, 188, 156); 
        }
        .name-price:focus .price {
          background-color:rgb(127, 217, 199); 
          }
          .low-footer{
        
              display: block;
              text-align: center;
              font-size: 16px;
              padding-top: 36px;
              width: auto;
              height: 90px;
              color: rgb(255, 255, 255);
              background-color: rgb(50, 50, 50);
              font-family: 'Open Sans', sans-serif;
          }
          .last-one{
              color: rgb(66, 169, 150);
          }
  
/*  HOVEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEER*/
.main-card-section{
position: relative;

}
.overlay-2{
  background-clip: padding-box;
  position: absolute;
  width: 234px;
  height: 260px;
  background-color: rgba(0,0,0,0.52); 
  top:12px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  
  
  
  
  }
  
  .list{
    display: block;
    width: 150px;
    margin: 0 auto;
    
    
    padding-top: 80px;
    
 
    
  }
.list .low-icons{
display: inline-block;
  margin: 0 auto;
  width: 50px;
  height: 50px;

  }
 .low-icons:last-child{
   margin-top :10px;
   width: 150px;
 }
.button-low{
  width: 50px;
  height: 50px;
  display: block;
  border: 1px solid white;
  background-color: transparent;
  
  background-repeat: no-repeat;
  background-position:  center;
  
  }
  .first-button{
    background-image: url(../img/first-item.png);
    
    
  }
  .second-button{
    background-image: url(../img/second-item.png);
  }
  .third-button{
    background-image: url(../img/third-item.png);
  }


  .fourth-button{

   display: block;
   padding-left: 35px;
    width: 150px;
    height: 50px;
  border: 1px solid white;
  
    background-color: rgba(0,0,0,0.52); 
  margin: 0 auto;
 font-size: 14px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  background-clip: padding-box;
  
  background-repeat: no-repeat;
  background-position: 10px 10px;
  background-image: url(../img/fourth-item.png);

 }
  


      


  
.main-card-section:hover .overlay-2{
  visibility: visible;
  opacity: 1;
  
}
.name-price:hover .name {
  background-color:rgb(26, 188, 156); 
  }
  .name-price:hover .price {
    background-color:rgb(127, 217, 199); 
    }


    .low-icons :hover{
      
      background-color :#1abc9c; 
      border: none;
}





  

  







































