.services-amazing__title {
  padding-top: 40px;
  display: block;
  text-align: center;
}

.services-amazing__work-with {
  font-size: 24px;
  color: $text-color;
  font-size: 24px;
  font-family: $kaushan-font;
  line-height: 1.2;
  padding-bottom: 20px;

}


.services-amazing__text-services {
  display: block;
  font-size: 30px;
  font-family: $main-font;
  color: $text-color;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  padding-bottom: 104px;
}



.services-amazing__text-services::after {
  display: block;
  margin: 0 auto;
  content: '';
  margin-top: 38px;
  background-color: $pink-color;
  height: 4px;
  width: 60px;

}

/* SErvices list*/

.services-list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-around;



  &__item {
    position: relative;
    padding-bottom: 96px;
    padding-left: 92px;
    width: 300px;
    text-align: left;
    margin-right: 20px;


    &::before {
      display: block;
      position: absolute;
      content: "";
      width: 40px;
      height: 40px;
      background-repeat: no-repeat;
      top: 0;
      left: 0;

    }




    &__item:nth-child(3n) {

      margin-right: 0px;
    }

    &:nth-last-child(-n+3) {
      padding-bottom: 64px;
    }



    &-title {
      text-decoration: none;
      font-family: $main-font;
      font-size: 14px;
      color: $text-color;
      padding-bottom: 20px;
      text-transform: uppercase;
    }

    &-text {

      font-size: 15px;
      font-family: $roboto-font;
      color: rgb(153, 153, 153);
      line-height: 24px;
    }
  }
}

/* Пвсевдоэлементы*/
.photography::before {


  background-image: url("../images/icons/icon-alarm.svg");
}

.web-design::before {


  background-image: url("../images/icons/icon-web.svg");
}

.creativity::before {


  background-image: url("../images/icons/creativity.svg");
}

.seo::before {


  background-image: url("../images/icons/seo.svg");
}

.css::before {


  background-image: url("../images/icons/code.svg");
}

.digital::before {
  background-image: url("../images/icons/digital.svg");


}

/*  КОНЕЦ " СЕКЦИИ*/