$main-font: 'Montserrat', sans-serif;
$roboto-font:'Roboto', sans-serif;
$kaushan-font:'Kaushan Script', cursive;
$main-color: rgb(148, 225, 211);
$pink-color: rgb(243, 129, 129);
$yellow-color: rgb(251, 227, 137);
$background-linear: linear-gradient(to top, rgba(251, 227, 137, 0.9), rgba(243, 129, 129, 0.9));
$color-white:rgb(255, 255, 255);
$text-color: rgb(51, 51, 51);
$footer-color:rgb(204, 204, 204);